/* From Uiverse.io by JaydipPrajapati1910 */ 
.shuffle-button {
    color: white;
    background-color: #491010;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    text-align: center;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    border: none;
  }
  
  .shuffle-button:hover {
    background-color: rgb(229, 150, 13);
  }
  
  .shuffle-button svg {
    display: inline;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.75rem;
    color: white;
  }
  
  .shuffle-button:focus svg {
    animation: spin_357 0.5s linear;
  }
  
  @keyframes spin_357 {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  

  /* From Uiverse.io by Pradeepsaranbishnoi */ 
:focus {
    outline: 0;
    border-color: #2260ff;
    box-shadow: 0 0 0 4px #b5c9fc;
  }
  
  .shuffle-options div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
  }
  
  .shuffle-options input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .shuffle-options input[type="radio"]:checked + span {
    box-shadow: 0 0 0 0.0625em #0043ed;
    background-color: #dee7ff;
    z-index: 1;
    color: #0043ed;
  }
  
  .shuffle-options label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
    transition: background-color .5s ease;
  }
  
  .shuffle-options label:first-child span {
    border-radius: .375em 0 0 .375em;
  }
  
  .shuffle-options label:last-child span {
    border-radius: 0 .375em .375em 0;
  }
  